<div class="modal" role="dialog" id="etudiant-modal" aria-modal="true" style="top: 3rem;"> 
<div class="modal-dialog modal-md modal-preins" role="document" style="max-width: 1456px !important">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Liste des Etudiants</h5>
        </hr>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
        <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
            <button id="pointage" type="button" class="btn btn-outline-info btn-rounded waves-effect" data-toggle="modal" data-target="#myModal2" ><i class="fas fa-fingerprint"></i>&nbsp;&nbsp;Pointage</button>
            <div class="col-md-12 row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="Id_Seance" style="margin-top: 1rem;">Seance :</label>
                                                        <input type="text" class="form-control" name="Seance_etud" id="Seance_etud" value="" disabled>

                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="ID_Admission" style="margin-top: 1rem;">Nature / Salle:</label>
                                <input type="text" class="form-control" name="salle_etud" id="salle_etud" value="" disabled>
                            </div>
                        </div> 
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="Etudiants" style="margin-top: 1rem;">Element :</label>
                                <input type="text" class="form-control" name="element_etud" id="element_etud" value="" disabled>
                            </div>
                        </div> 
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="Id_Seance" style="margin-top: 1rem;">Enseignant :</label>
                                                        <input type="text" class="form-control" name="Enseignant_etud" id="Enseignant_etud" value="" disabled>

                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="ID_Admission" style="margin-top: 1rem;">Hd:</label>
                                <input type="text" class="form-control" name="Hd_etud" id="Hd_etud" value="" disabled>
                            </div>
                        </div> 
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="Etudiant" style="margin-top: 1rem;">Hf :</label>
                                <input type="text" class="form-control" name="Hf_etud" id="Hf_etud" value="" disabled>
                            </div>
                        </div> 
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="ID_Admission" style="margin-top: 1rem;">Groupe:</label>
                                <input type="text" class="form-control" name="group_etud" id="group_etud" value="" disabled>
                            </div>
                        </div> 
                       
                </div> 
                <table id="dtDynamicVerticalScrollExample2" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%" height="80%">
                    <thead>
                          <tr>
                          <th >ID Admission
                          </th>
                          <th >Etudiant
                          </th>
                          <th >Pointage
                          </th>
                          <th >Cat SI
                          </th>
                          <th >Cat Ens
                          </th>
                          <th >Cat Retraitement
                          </th>
                          <th >Cat F
                          </th>
                        
                        
                          
                          </tr>
                    </thead>
                    <tbody>
                  
                        
                    </tbody>
                    </table>
      </div>


    </div>
  </div>
</div>